Language: Cpp
BasedOnStyle: Google
Standard: c++20
ColumnLimit: 80
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2

AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLine
BreakTemplateDeclarations: Yes
BreakStringLiterals: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
BreakBeforeBraces: Attach
InsertBraces: true
Cpp11BracedListStyle: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer
QualifierAlignment: Leave

SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInParens: Never
SpacesInSquareBrackets: false
MaxEmptyLinesToKeep: 1
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock
AccessModifierOffset: -2
IndentAccessModifiers: false
IndentCaseLabels: true
IndentCaseBlocks: false
IndentGotoLabels: false
IndentPPDirectives: BeforeHash
NamespaceIndentation: None
FixNamespaceComments: false
CompactNamespaces: false
ReflowComments: Always
SortIncludes: Never
IncludeBlocks: Preserve
SortUsingDeclarations: LexicographicNumeric
PenaltyBreakBeforeMemberAccess: 2000
PenaltyReturnTypeOnItsOwnLine: 1000
InsertNewlineAtEOF: true
RemoveSemicolon: false
LineEnding: DeriveLF
